venv/
*SimpleHealthExport*
*FORM_2023*
*wahoo_data.csv*
*2016-03*
*WorldRankingsElite*
*DS_Store*
*.rtf*
*.log*
*.csv*
*.MOV*
*frame_00*
*.mp4*
*.Rhistory*
*.xml*
*.fit*
*.zip*
*project_structure*
*.gpx*
*.txt*
*.png*
*.pdf*
*.svg*
# Ignore all html files
*.html
# Un-ignore specific genetic_analysis.html
!genetic_analysis.html
!assets/visualizations/genetic_analysis/athletic_genetics_overview_20241024_132540.html
!assets/visualizations/genetic_analysis/genetic_performance_report.html
